<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">

    <div class="row">
        <div class="contents">
            <br><br>
            <div class="row justify-content-center"><h2>회원 정보 조회</h2></div>
            <br><br>
            <input type="hidden" id="id" th:field="*{member.id}">
            <table class="table">
                <tr>
                    <td><label th:for="name">사용자명</label></td>
                    <td th:text="${member.name}"></td>
                </tr>
                <tr>
                    <td><label th:for="password">비밀번호</label></td>
                    <td th:text="${member.password}"></td>
                </tr>
                </table>
            <div class="align-btn-prod-write">
                <button type="button" class="btn btn-light text-nowrap"
                th:onclick="|location.href='@{/members/{id}/update(id=${member.id})}'|">수정하기</button>
                <button type="button" class="btn btn-light text-nowrap" id="btn-delete">삭제하기</button>
            </div>
        </div>
    </div>
    <script src="/js/app/member.js"></script>
</div>
</html>